{% extends "base.html" %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Persons</h2>
      <a class="btn btn-primary" href="{% url 'personal:new_person' %}" role="button">
        New Person
      </a>
      <ul>
          {% for p in object_list %}
              <li>
                  <a class="badge" href="{% url 'personal:person_detail' pk=p.id %}">Ver +</a>
                  {{ p.first_name }} {{ p.last_name }}
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
