{% extends "base.html" %}
{% block site_title %}
  Details from {{ person.first_name }} {{ person.last_name }}
{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>
  <a class="btn btn-primary" href="{% url 'personal:person_list' %}" role="button">
    Back
  </a>

  <div class="card">
    <div class="card-body">
      <h3>First Name:</h3>
      {{ person.first_name }}
      <h3>Last Name:</h3>
      {{ person.last_name }}
    </div>
  </div>
{% endblock %}
