<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="img/favicon.ico">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <title>{% block site_title %}My Warehouse{% endblock %}</title>
    <meta content="Diana Hernandez" name="author" />

    <!-- Bootstrap core CSS     -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="{{STATIC_URL}}css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{STATIC_URL}}css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{STATIC_URL}}css/pe-icon-7-stroke.css" rel="stylesheet" />

    <link href="{{STATIC_URL}}css/select2.min.css" rel="stylesheet" id="select2" />
    <script src="{{STATIC_URL}}js/jquery-3.2.1.min.js"></script>
  </head>
  <body>

    <header>
      {% block site_header %}
      <h1>My Warehouse</h1>
      {% endblock %}
    </header>
    <section>
      {% block content %}{% endblock %}
    </section>
    <footer>
      {% block site_footer %}{% endblock %}
    </footer>

    <script type="text/javascript">base = "{{STATIC_URL}}"</script>
    <!-- Select2 -->
    <script src="{{STATIC_URL}}js/select2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("select.one").select2();
        $("select.many").select2({
          multiple:true
        });
      });
    </script>
  </body>
</html>
