{% extends "base.html" %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Persons</h3>
      <a class="btn btn-primary" href="{% url 'personal:person_list' %}" role="button">
        Admin Persons
      </a>
      <ul>
        <li>List Persons</li>
        <li>New Person</li>
        <li>Detail Person</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Resources</h3>
      <a class="btn btn-primary" href="{% url 'resourcestock:resource_list' %}" role="button">
        Admin Resources
      </a>
      <ul>
        <li>List Resources</li>
        <li>New Resource</li>
        <li>Detail Resource</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Resources Assignment</h3>
      <a class="btn btn-primary" href="{% url 'resourcestock:assignment_list' %}" role="button">
        Admin Resources Assignment
      </a>
      <ul>
        <li>Assign resources to person</li>
        <li>Move one or many resources from one person to another</li>
        <li>Assignments to a person</li>
        <li>Resources history assignment</li>
      </ul>
    </div>
  </div>

{% endblock %}
