{% extends "base.html" %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Resources</h2>
      <a class="btn btn-primary" href="{% url 'resourcestock:new_resource' %}" role="button">
        New Resource
      </a>
      <ul>
          {% for p in object_list %}
              <li>
                  <a class="badge" href="{% url 'resourcestock:resource_detail' pk=p.id %}">{{ p.code }}</a>
                  {{ p.name }} ({{ p.brand }})
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
