{% extends "base.html" %}
{% block site_title %}
  Details from {{ resourcestock.name }}
{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>
  <a class="btn btn-primary" href="{% url 'resourcestock:resource_list' %}" role="button">
    Back
  </a>

  <div class="card">
    <div class="card-body">
      <h3>Category:</h3>
      {{ resourcestock.category }}
      <h3>Code:</h3>
      {{ resourcestock.code }}
      <h3>Name:</h3>
      {{ resourcestock.name }}
      <h3>Brand:</h3>
      {{ resourcestock.brand }}
    </div>
  </div>
{% endblock %}
