{% extends "base.html" %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Resources Assignment</h2>

      <h4>Assign resources to person</h4>
      Click <a class="badge" href="{% url 'resourcestock:new_assignment' %}">here</a>

      <h4>Move one or many resources from one person to another</h4>
      <h5>Consult assignments to a person</h5>
      Click <a class="badge" href="{% url 'resourcestock:search_assignment' %}">here</a>

      <h4>Resources history assignment</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Resource</th>
            <th>Person</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for p in object_list %}
          <tr>
            <td>{{ p.resource_warehouse.name }}</td>
            <td>{{ p.person_warehouse.first_name }} {{ p.person_warehouse.last_name }}</td>
            <td>{{ p.date_assignment }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
