{% extends "base.html" %}
{% block site_title %}
  Stock | New Resource
{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>
  <a class="btn btn-primary" href="{% url 'resourcestock:resource_list' %}" role="button">
    Back
  </a>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">New Resource</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Create</button>
      </form>
    </div>
  </div>
{% endblock %}
