{% extends "base.html" %}
{% block site_title %}
  Stock | Search Assignment
{% endblock %}

{% block site_header %}
<h1>My Warehouse</h1>
{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'resourcestock:index' %}" role="button">
    Index
  </a>
  <a class="btn btn-primary" href="{% url 'resourcestock:assignment_list' %}" role="button">
    Back
  </a>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Search Resources Assignment</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>

  {% if assignment_list %}
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Resource</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in assignment_list %}
          <tr>
            <td>{{row.resource_warehouse}}</td>
            <td>{{row.date_assignment}}</td>
            <td>
              <a href="{% url 'resourcestock:move_assignment' row.id %}">
  							<button class="btn btn-primary">Move</button>
  						</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

{% endblock %}
